@{ // Layout = null; }
@section head {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
}
<link href="@Url.Content("~/Content/calender.css")" rel="stylesheet" type="text/css" />



<script>
    window.chartColors = {
        red: 'rgb(255, 99, 132)',
        orange: 'rgb(255, 159, 64)',
        yellow: 'rgb(255, 205, 86)',
        green: 'rgb(75, 192, 192)',
        blue: 'rgb(54, 162, 235)',
        purple: 'rgb(153, 102, 255)',
        grey: 'rgb(201, 203, 207)'
    };

    var items = @ViewBag.JsonString_A;
    //    [
    //    100,
    //    0,
    //    0,
    //    200,
    //    0,
    //];

    var datas = {
        datasets: [{
            data: items,
            backgroundColor: [
                window.chartColors.red,
                window.chartColors.orange,
                window.chartColors.yellow,
                window.chartColors.green,
                window.chartColors.blue,
            ],
            label: 'Dataset 1'
        }],
        labels: [
            '光熱費',
            '食費',
            'Yellow',
            'Green',
            'Blue'
        ]
    };


    var config = {
        type: 'pie',
        data: datas,
        options: {
            responsive: true
        }
    };

    window.onload = function () {
        var ctx = document.getElementById('chart-area').getContext('2d');
        window.myPie = new Chart(ctx, config);
    };

    //更新ボタン
    function koushin() {
        location.reload();
    }
</script>

<body>
    <div class="f-container">
        <div class="flex1">
            <font size="5">
                <a href="Main/Index"><span class="mgr-30"><u>カレンダー</u></span></a>
            </font>
            <div id="canvas-holder" style="width:100%">
                <canvas id="chart-area"></canvas>
            </div>
            @ViewBag.JsonString
            <button id="randomizeData">Randomize Data</button>
            <button id="addDataset">Add Dataset</button>
            <input type="button" value="更新" onclick="koushin()">
        </div>
    </div>
</body>
    }