body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
        max-width: 280px;
}

ul {
    display: table;
    margin: 0 auto;
    padding: 0;
    width: 80%;
    text-align: center;
}

    ul li {
        display: table-cell;
        min-width: 50px;
    }

        ul li a {
            display: block;
            width: 100%;
            padding: 10px 0;
            text-decoration: none;
            color: #555;
            font-weight: bold;
        }

        ul li.current {
            background-color: #DEEBF7;
        }

            ul li.current a {
                color: #555;
            }

        ul li:hover {
            background-color: #FFF2CC;
        }